.iframe {
  width: 640px;
  height: 640px;
.m}
.bar {
  border-radius: 50px;
  text-align: jusify;
  width: 600px;
}
.but {
  width: 64px;
  height: 64px;
}
.sh {
  width: 64px;
  height: 64px;
  margin-left: auto;
}